body{
    background-color: #1B1F22;
}

.log{
    padding: 0;
    margin: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log img{
    width: 200px;
    height: 200px;
    object-fit:cover;
}

.container{
    width: 400px;
}

.card{
    border: 5px solid #5200c9;
    background-color: #1B1F22;
    color: #ffff;
}

.btn{
    background-color: #5200c9;
    color: #ffff;
}