/* Estilos para el fondo de la vista. /  Styles for the background of the view. */

body{
    background-color: #1B1F22;
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  **/
/* Estilos para el logo de la vista. / Styles for the view logo. */

.log{
    padding: 0;
    margin: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log img{
    width: 200px;
    height: 200px;
    object-fit:cover;
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  **/
/* Estilos para el contenedor principal de la vista. / Styles for the main container of the view. */

.container{
    width: 400px;
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  **/
/* Estilos para el cuadrado del login de la vista. / Styles for the login square in the view. */

.card{
    border: 5px solid #5200c9;
    background-color: #1B1F22;
    color: #ffff;
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  **/
/* Estilos para el botón del formulario. / Styles for the form button. */

.btn{
    background-color: #5200c9;
    color: #ffff;
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  **/
/* Tamaño ajustable para dispositivos moviles (Horizontal). / Adjustable size for mobile devices (Horizontal) */

@media (max-width: 991px) and (orientation: landscape) {
    .log {
        visibility: hidden;
    }

    .container{
        width: 600px;
        margin: 5%;
        padding: 10%;
    }
}